.news
	ul.news__list
		li.news__item
			h4.news__title: a.news__link(href="#") Lorem ipsum dolor sit amet
			p.news__anons Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt animi qui tempore dolore similique ad.
		li.news__item
			h4.news__title: a.news__link(href="#") Lorem ipsum dolor sit amet
			p.news__anons Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt animi qui tempore dolore similique ad.
		li.news__item
			h4.news__title: a.news__link(href="#") Lorem ipsum dolor sit amet
			p.news__anons Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt animi qui tempore dolore similique ad.